@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));


/* Commenting out conflicting CSS variables to allow Tailwind custom colors to work */
:root {
  --radius: 0.625rem;
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(249, 3%, 14%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(249, 3%, 14%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(249, 3%, 14%);
  --primary: hsl(249, 53%, 21%);
  --primary-foreground: hsl(249, 1%, 98%);
  --secondary: hsl(249, 1%, 97%);
  --secondary-foreground: hsl(249, 6%, 22%);
  --muted: hsl(249, 1%, 97%);
  --muted-foreground: hsl(249, 13%, 55%);
  --accent: hsl(249, 1%, 97%);
  --accent-foreground: hsl(249, 6%, 22%);
  --destructive: hsl(0, 61%, 48%);
  --border: hsl(249, 1%, 92%);
  --input: hsl(249, 1%, 92%);
  --ring: hsl(249, 5%, 71%);
  --chart-1: hsl(30, 60%, 50%);
  --chart-2: hsl(184, 35%, 50%);
  --chart-3: hsl(227, 50%, 40%);
  --chart-4: hsl(84, 60%, 60%);
  --chart-5: hsl(70, 55%, 55%);
  --sidebar: hsl(249, 1%, 98%);
  --sidebar-foreground: hsl(249, 3%, 14%);
  --sidebar-primary: hsl(249, 6%, 22%);
  --sidebar-primary-foreground: hsl(249, 1%, 98%);
  --sidebar-accent: hsl(249, 1%, 97%);
  --sidebar-accent-foreground: hsl(249, 6%, 22%);
  --sidebar-border: hsl(249, 1%, 92%);
  --sidebar-ring: hsl(249, 5%, 71%);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
} */